* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    padding: 0 350px;
}

.hero {
    text-align: center;
    width: 30%;
    margin: 100px auto;
}
.btn {
    margin-top: 20px;
}

.card-container {
    width: 50%;
    margin: 100px auto;
}